<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catalin.mymedic">

    <application
        android:name=".MyMedicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.launcher.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.authentication.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.authentication.registration.RegistrationActivity"
            android:label="@string/register_now"
            android:parentActivityName=".feature.authentication.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.authentication.passwordreset.PasswordResetActivity"
            android:label="@string/reset_password"
            android:parentActivityName=".feature.authentication.login.LoginActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>